@import './variables';

@font-face {
    font-family: 'Agrandir';
    src: url('/src/font/PPAgrandir-Regular.otf') format('truetype');
    font-display: swap;
}

html{
    font-family: 'Agrandir', sans-serif;
    color: #1F0318;
    font-size: 20px;
    line-height: 1.35rem;
    
    // @media screen and (max-width: 710px) {
    //     font-size: 18px;
    // }
}

* {-webkit-font-smoothing: antialiased;}

a{
    text-decoration: underline;
}