@import './variables';

@font-face {
    font-family: 'Unbounded';
    src: url('/src/font/Unbounded-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

html{
    font-family: 'Unbounded', sans-serif;
    color: #1F0318;
    font-size: 17px;
    line-height: 1.35rem;
}

* {-webkit-font-smoothing: antialiased;}

a{
    text-decoration: none;
    border-bottom: dotted 3px #1F0318;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}