@import './variables';

@font-face {
    font-family: 'Agrandir';
    src: url('/src/font/PPAgrandir-Regular.otf') format('truetype');
    font-display: swap;
}

html{
    font-family: 'Agrandir', sans-serif;
    // color: $brown;
    // font-size: 25px;
    
    // @media screen and (max-width: 710px) {
    //     font-size: 18px;
    // }
}

* {-webkit-font-smoothing: antialiased;}

